.top{
    background-color: #1f2937;
}

.header{
    display:flex;
    border-style:solid;
    border-color:black;
    justify-content:space-between;
    align-items:center;
    padding-left:100px;
    padding-right:30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:white;
    font-size:24px;
    background-color: #1f2937;
}

ul{
    display:flex;
    list-style-type:none;
    gap:20px;
    font-size:18px;

}

a{
    text-decoration:none;
    color:#E5E7EB;
}

.one{
    background-color: #1f2937;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    height:400px;
    padding-left:100px;
    border-style:solid;
    border-color:black;


}

.one h1{
    font-size:48px;
    font-weight:bold;
    color:#e6ebe4;
    width:300px;
}

.one p{
    width:350px;
    color: rgb(214, 213, 213)
}
.one img {
    padding-top:50px;
    align-self:flex-end;
    padding-right:30px;

}
.button1{
    width:100px;
    background-color:rgb(26, 134, 177);
    color:white;
    border:none;
    border-radius:2px;
    padding:5px 10px;
    font-weight: bold;
}